/*----------------------------------
NORMALIZE
----------------------------------*/

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/*----------------------------------
BOX SIZING
----------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------
CLEARFIX
----------------------------------*/

  .clearfix:after {
      visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
       clear: both;
       height: 0;
       }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*----------------------------------
SASS TOOLKIT
----------------------------------*/

// $white: #e9e9e9;
$white: #000000;
$teal: #36D7B7;
$navyBlue: #2c3e50;

@mixin sans {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin serif {
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

@mixin italic {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-style: italic;
}

@mixin transition {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
}

@mixin fallback {
  font-family: 'Karla', sans-serif;
}

/*----------------------------------
MAIN STYLES
----------------------------------*/

html {
  -webkit-text-size-adjust: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: $white;
}

h1 {
    margin: 0 0 6px 0;
    font-size: 40px;
    color: $white;
    padding-top: 25px;
}

h2 {
    font-weight: normal;
    color: $white;
    font-size: 21px;
    margin: 0 0 22px 0;
}

section {
    width: 80%;
    margin-bottom: 20px;
}

.footnotes { margin-bottom: 20px; }
.footnotes h4 {
    margin: 2px 0 7px 0;
    color: #666;
    font-size: 11px;
}

.footnotes p,
.footer p {
    margin: 2px 0 0 0;
    font-size: 11px;
    line-height: 1.3;
    color: #808080;
}

a, a:link, a:visited {
    color: #4774CC;
    text-decoration: none;
}

a:hover, a:active {
  opacity: 0.7;
}

p {
  @include serif;
  margin: 0px;
  padding-top: 40px;
}

/*----------------------------------
ARTICLE VIEW
----------------------------------*/

nav {
  padding-bottom: 40px;
  position: relative;
}

.corner {
  float: right;
  position: fixed;
  top: -5px;
  right: 25px;
}

.autoplay {
  display: inline-block;
  font-family: 'Karla', sans-serif;
  // @include sans;
  font-size: 18px;
}

.iconSmall {
  width: 20px;
  height: 25px;
  margin: 3px;
  position: relative;
  top: 8px;
}

.logo {
  width: 75px;
  height: 75px;
  position: relative;
  left: -15px;
}

.logoImage {
  width: 75px;
  height: 75px;
}

button {
  width: 42px;
  height: 24px;
}

.byline {
  @include italic;
  font-size: 24px;
  margin-top: 0px;
  padding-top: 5px;
}

.opening {
  margin: 0px;
  padding-top: 30px;
}

aside {
  width: 12.5%;
  float: left;
  overflow: hidden;
  padding-right: 20px;
  .accent {
    color: $teal;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    padding-right: 5px;
  }

  p {
    // @include sans;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    padding-top: 0px;
  }
}

.article {
  float: left;
  font-size: 24px;
  line-height: 34px;
  margin: 0px;
  width: 75%;
  display: inline-block;
}

.highlight {
  background: $teal;
  opacity: 0.5;
  padding: 2.5px;
  &:hover {
    background: darken($teal, 10%);
    transition: 0.75s;
    opacity: 1;
  }
}

.featured {
  padding-top: 15px;
}

.sidebar p{
  font-size: 16px;
  line-height: 34px;
}

summary {
  @include italic;
  font-size: 16px;
  float: right;
  position: relative;
  top: 40px;
  right: -140px;
}

footer {
  background: #000;
  color: $white;
  padding-top: 25px;
  padding-bottom: 50px;
  // position: fixed;
  p {
    color: #fff;
    padding-top: 0px;
    position: relative;
  }
}

/*----------------------------------
VIDEO VIEW
----------------------------------*/

.hidden {
  display: none;
}

.show {
  display: block;
}

.cross {
  width: 75px;
  height: 75px;
}

.prompt {
  font-size: 16px;
}

.videoTitle,
.videoByline {
  font-size: 24px;
  line-height: 34px;
}

/*----------------------------------
ON/OFF BUTTON
----------------------------------*/

.onoffswitch {
    position: relative;
    left: -10px;
    width: 90px;
    display: inline-block;
    top: 10px;
    padding-left: 20px;
}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    @include transition;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;

    // Why does box sizing above not work?
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: $teal;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 29px;
    margin: 0.5px;
    background: #FFFFFF;
    border: 1px solid #999999;
    position: absolute;
    top: -3px;
    bottom: -3px;
    @include transition;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -4px;
}



